APP_NAME='"Accounting"'

NETWORK_CHAIN_ID='"1eaa0824707c8c16bd25145493bf062aecddfeb56c736f6ba6397f3195f33c9f"'
NETWORK_HOST='"test.telos.kitchen"'
NETWORK_PORT='443'
NETWORK_PROTOCOL='"https"'

WEBSERVICES_URL='"https://bqmc4sh9fe.execute-api.us-east-1.amazonaws.com/dev"'
WEBSERVICES_API_KEY='"XXX"'

BLOCKCHAIN_EXPLORER='"https://telos-test.bloks.io/"'
DGRAPH_URL='"https://alpha-acct-test.tekit.io/"'
DGRAPH_BASE_NODE_HASH='"91806de20aafa70e53fdb8fd79c6fbfea1c58f85a9fd0b0d57eda162e04e05b4"'
DGRAPH_TRX_LEDGER='"b9b655fa58db1fefb7829f60e0540266e562ac469ee87feb124133e76c420b3e"'