@import url('../assets/style.sass');
  
h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6
  font-family: "neue-haas-grotesk-text", sans-serif

.full-h
  height: 90vh

#main-container
  background-color: #8b8b8b3f