@import url('../assets/style.sass');

h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6
  font-family: "neue-haas-grotesk-text", sans-serif

.full-h
  height: 91.5vh

.sticky-virtscroll-table
  /* height or max-height is important */
  height: 300px

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th /* bg color is important for th; just specify one */
    // background-color: $drklight

  thead tr th
    position: sticky
    z-index: 1
    font-size: 13px
    font-weight: bold
  /* this will be the loading indicator */
  thead tr:last-child th
    /* height of all previous header rows */
    top: 48px
  thead tr:first-child th
    top: 0

// Animations
.animated-icon
  transition: all 0.2s
.animated-icon:hover
  transform: scale(1.3)
  
#main-container
  background-color: #8b8b8b3f
